%footer#mainFoot
  .container
    #footContact.row
      .eight.columns.alpha
        %p 1140 S. La Brea Ave. Los Angeles, CA 90019
        %a{id: 'footEmail', href: 'mailto:kingchairguy@gmail.com'} kingchairguy@gmail.com
        %a{href:'tel+3109851886'} 310.985.1886
      .eight.columns.omega.textRight
        %h1 Basic Black - Los Angeles
    %nav#footCredit.row.lineTop.lineBottom
      %ul.inline
        %li
          %p &copy; 2013 Basic Black Home. All rights reserved.
        %li
          %p Site by
        %li
          %a{href:'mailto:info@edgdesign.co'} Edg Design
    %nav#footNav.row
      %ul.inline
        %li
          %a{href:'#'} Terms & Conditions
        %li
          %a{href:'#'} Policies
        %li
          %a{href:'#'} Shipping Options
        %li
          %a{href:'#'} Advanced Search
        %li
          %a{href:'#'} Site Map
        %li
          %a{href:'/contact'} Contact