%footer#mainFoot
  #footer1
    .container
      #footContact.row
        .seven.columns.alpha
          %h2 Contact Basic Black
          =form_for :contact, url: '/contacts', method: :post, remote: true,  html: {id: 'contactForm'} do |f|#contactForm
            =f.text_field :name, placeholder:'Your Name', class: :input1
            =f.email_field :email, placeholder:'Your Email', class: :input1
            =f.text_area :message, size: '30x5', placeholder:'Send Us a Message'
            =f.submit 'Submit', id: 'contactSubmit', disable_with: 'Submitting...' 
            /%input#contactSubmit type:'submit', value:'Submit'
          %p#pCTA Our showroom floor is open from 10am to 5pm, Monday through Saturday. Stop by to see us, or contact us using the form above.
        #footContactCopy.seven.columns.omega
          %h4 Address
          %p 1140 S. La Brea Ave. <br/> Los Angeles, CA 90019
          %h4 Email  
          %a{id: 'footEmail', href: 'mailto:kingchairguy@gmail.com'} kingchairguy@gmail.com
          %h4 Phone
          %a{href:'tel+3239390344'} 323.939.0344
  #footer2
    .container
    %nav#footNav.row
      %ul.inline
        %li
          = link_to 'About Us', '/about'
        %li
          =link_to "Store Policies", '/policies'
        %li
          =link_to "Site Map", '/sitemap'
        %li
          =link_to "Rental", '/rental'
    #footCredit.row
      %ul.inline
        %li
          %p &copy; 2013 Basic Black. All rights reserved.
        %li
          %p Site by
        %li
          %a{href:'mailto:info@edgdesign.co'} Edg Design
    