%header.mainHead
  .container
    .row
      .sixteen.columns
        #logo
          =image_tag('logo.png')
          %h4 Basic Black Home
        %nav#mainNav
          =render partial: 'shared/nav'