%header.mainHead
  .container
    .row
      .four.columns.alpha
        %p
      .eight.columns
        #logo
          %a{href: '/index'}
            =image_tag('logo1.png')
      .four.columns.omega  
        %nav#mainNav
          =render partial: 'shared/nav'