
%ul.inline
  /%li= render partial: 'spree/shared/login_bar'
  %li#aboutLink
    = link_to 'About Us', '/about'
  -if static?
    %li
      %p Online store open 24/7
      = link_to 'Shop Now', '/store', :class => "flashing button"
  -else
    %li#link-to-cart
      %p{style: 'padding-left:34px;'}  Online store open 24/7
      = link_to_cart(nil, 'button')