
%ul.inline
  /%li= render partial: 'spree/shared/login_bar'
  %li#aboutLink
    = link_to 'About Us', '/about'
  -if static?
    %li
      %p Online Store open 24/7
      = link_to 'Shop Now', '/store', :class => "button"
  -else
    %li#link-to-cart= link_to_cart