// Place general styles here
// You can use SCSS

//custom classes & variabls
$mainColor: rgb(60,60,60);
$line: 1px solid rgb(180,180,180);

.lineTop {border-top:$line;}
.lineBottom {border-bottom:$line;}

.textRight{
	text-align:right;
}
.textCenter {
	text-align:center;
}
//Typography, shared styles
* {
	font-family: 'josefin sans', sans-serif;
}

#wrapper {
	color: #fff;
	p, a, div, span, li {
		font-family: 'source sans pro', sans-serif;
		font-weight:300;
	}
}
a:hover{
		color:#770d12;
		font-weight:bold;
	}

// application template layout

.mainHead, #mainFoot {
	background-color:white;
	width: 100%;
	p, a, li, h1, h2, h3, h4{
		color: $mainColor;
	}
	a:hover{
		color:#770d12;
		font-weight:bold;
	}
}
.mainHead {
	margin-top:-10px;
	padding-top: 10px;
	height:75px;
	box-shadow: 0px -4px 2px -2px $mainColor inset;
}
#logo{
	margin:0 0 20px -75px;
	h4 {
		position: relative;
		top: -25px;
		left:5px;
	}
	img, h4{display:inline-block;}
}
#mainNav {
	float: right;
	position:absolute;
	top:25px;
	right:-50px;
	font-size:1.5em;
	ul li{
		&::before{
			content: '|';
			}
		&:first-child::before{content: '';}
	}
}
#mainNav, #footNav {
	ul li{
		padding-right:10px;
		&::before{padding-right:15px;}
	}
}
#wrapper {
	min-height:450px;
	margin-top:15px;
}
#mainFoot {
	box-shadow: 0px 4px 2px -2px $mainColor inset;
	min-height: 200px;
}
#footContact {
	padding:10px 0;
	margin-bottom:5px;
	div:first-child{font-size:1.6em;}
	p {
		margin:.25em 0 0 0;
	}
	a {
		line-height: 1.2em;
		display: inline-block;
		&#footEmail::after{
			content: '-';
			margin-right:10px;
			padding-left:15px;
		}
	}
	h1 {
		margin:0;
		line-height:50px;
		font-size:3em;
	}
}
#footNav ul {
	padding:3px 0 7px 10px;
	text-align: center;
	margin-bottom:7px;
	font-size:1.3em;
	li:first-child{
		padding-right:50px;
	}
	li:nth-child(4){
		padding-right:0;
	}
	li p {
		margin:5px 0;
	}
}
table {
  tr.odd td{
    color: #191919
  }
}

//Index page

#temp {
	img {
		width:920px;
		height:auto;
		border:1px solid white;
		border-radius: 3px;
		padding:10px;
	}
}

//////////Spree Overrides
//Store main
.taxons-list {
	list-style:none;
	li::before{
		content: '» ';
		font-size:1.2em;
		color: rgb(150,150,150);
	}
}
.filter_choices{
	list-style:none;
}
.product-image a img {
	width:100%;
	height:auto;
}
ul#products li .product-image {
	padding:0px;
	margin-bottom:0;
}
ul#products li a.info {
	padding:.7em;
	height:1.7em;
	margin-top:0;
	border-radius:1px;
	&:hover{
		background-color: lighten(#770d12,2);
	}
}
#breadcrumbs {
	font-size:1.2em;
	text-align:right;
}
.pagination {
	text-align:center;
	font-size:1.2em;
}
//Single product view
#product-images {
	//border-bottom: $line;
	border-right: $line;
}
#product-description div:nth-child(2){
	font-size:1.2em;
}
#product-thumbnails li {
	border-bottom:3px solid $mainColor;
}

