// Place general styles here
// You can use SCSS

//custom classes & variabls
$mainColor: rgb(0,0,0);
$line: 1px solid rgb(0,0,0);

.lineTop {border-top:$line;}
.lineBottom {border-bottom:$line;}

//Typography, shared styles
* {
	font-family:'Quattrocento Sans', Helvetica, sans-serif;
}

#wrapper {
	color: #fff;
}
a:hover{
		color:#770d12;
		font-weight:bold;
	}

// Background Upholstry Pattern

////////////// application template layout
////////
body{
	background-image:url(asset-path('fleurDeLis3.png', image));
	background-size:200px;
	background-repeat:repeat-y;
	background-position:0 10px;
	background-attachment:fixed;
	position:relative;
	&::after{
		content:'';
		position:fixed;
		z-index:-1;
		top:0;
		right:0;
		bottom:0;
		width:200px;
		background-image:url(asset-path('fleurDeLis3.png', image));
		background-size:200px;
		background-repeat:repeat-y;
		background-position:0 10px;
		//background-attachment:fixed;
	}
}
//Header
.mainHead, #mainFoot {
	width: 100%;
	p, a, li, h1, h2, h3, h4{
		color: $mainColor;
	}
	a:hover{
		color:#770d12;
		font-weight:bold;
	}
}
.mainHead, #footer2{
	background-image:url(asset-path('large_leather.png', image));
}
.mainHead {
	background-color:white;
	//height:86px;
	//box-shadow: 0px -2px 2px -2px $mainColor inset;
}
#headLogo{
	img{
		height:80px;
		margin:4px auto 0;
		display:inline-block;
		float:left;
	}
}
#mainNav {
	float: right;
	height:100%;
	padding-top:13px;
	ul{
		margin-bottom:0;
	}
	#link-to-cart {
		margin-top:28px;
		font-size:2em;
	}
	#aboutLink{
		font-size:1.75em;
		position: relative;
		top:-7px;
		right:15px;
	} 
	.button{
		font-size:1.75em;
		text-transform: uppercase;
		padding:.7em 1em .5em;
		font-weight:300;
		color:white;
		background-color:rgba(0,0,0,1);
		border:none;
	}
	p{
		margin:0;
		padding-left:17px;
		padding-bottom:5px;
	}
}
//Body
#wrapper {
	min-height:250px;
	margin-top:15px;
	clear:both;
}
//Footer
#mainFoot{
	padding-top:25px;
}
#footer1{
	overflow:hidden;
	background-color:black;
	/*position:relative;
	&::before{
		content:'';
		position:absolute;
		left:10%;
		width:80%;
		border-top:1px solid white;
	}*/
	.container{
		height:460px;
		background-image:url(asset-path('legs.png', image));
		background-size:cover;
	}
	form {
		width:100%;
		input, textarea{
			margin-bottom:.5em;
		}
		input{
			width:47%;
			&:first-child{
				margin-right:2%;
			}
		}
		textarea{
			width:95%;
		}
		#contactSubmit{width:60px;}
	}	
}
#footContact{
	padding:100px 50px 10px;
	box-sizing:border-box;
	margin-top:25px;
	h2,h4,p,a{
		color:white;
	}
	h2{
		width:100%;
		margin:10px 0 15px;
		font-size: 3em;
	}
	#pCTA{
		font-size:1.2em;
	}
	#footContactCopy{
		padding-top:25px;
		font-size:1.5em;
		h4,p,a{
			display:block;
			text-align:right;
			margin:0px;
		}
		h4{
			font-size:1.5em;
			margin-top:.25em;
			&:first-child{margin-top:0px;}
		}
		p, a{
			font-size:.8em;
			padding:10px 0 0;
		}
	}
}
#footer2{
	background-color:white;
}
#footNav {
	text-align:center;
	font-size:1.5em;
	margin-bottom:0px;
	ul{
		padding:15px 35px;
		width: -moz-fit-content;
	  width: -webkit-fit-content;
	  width: fit-content;
	  margin:0 auto;
	}
	li{
		margin-left:10px;
		&::before{
				content:'-';
				margin-right:18px;
			}
		&:first-child{
			margin-left:0;
			&::before{
				content:'';
				margin-right:0;
			}
		}
		padding-right:10px;
	}
}
#footCredit {
	margin-bottom:0;
	padding-bottom:10px;
	margin-left:-20px;
	ul.inline {
		padding:3px 0 0 10px;
		text-align: center;
		margin-bottom:0px;
		font-size:1.25em;
		li:first-child{
			padding-right:20px;
		}
		li p {
			margin:0;
			padding:5px 0;
		}
	}
	table {
	  tr.odd td{
	    color: #191919
	  }
	}
}
#footLogo{
	height:80px;
	float:right;
}

//Index page
#slider .bx-wrapper{
	.bx-loading{
		background:none;
	}
	.bx-viewport{
		border:none;
		background:none;
		box-shadow:none;
	}
	li img {
		margin:0 auto;
		max-height:400px;
	} 
}
#homeGrid{
	.photoset-row{margin-bottom:5px;}
}
//About Page
#aboutPage{
	width:70%;
	margin:50px auto 0;
	h1{text-decoration:underline;}
	p{font-size:1.5em;}
}

//////////Spree Overrides
//Store main
nav#taxonomies .taxons-list li a {
	font-size:3em;
	line-height:1.2em;
}
.taxons-list {
	list-style:none;
	li{
		text-transform:capitalize;
		&::before{
			content: '»';
			font-size:3em;
			color: rgb(150,150,150);
		}
	}
}
.filter_choices{
	list-style:none;
}
.product-image a img {
	width:100%;
	height:auto;
	max-height:470px;
}
ul#products{
	li{
		.product-image {
			padding:0px;
			margin-bottom:0;
		}
		a.info {
			padding-top:.25em;
			height:1.7em;
			margin-top:0;
			border-radius:1px;
			font-size:2em;
			line-height:1.2em;
			text-transform: capitalize;
			&:hover{
				background-color: lighten(#770d12,2);
			}
		}
		span.price.selling {
			font-size:2em;
			padding-top:.7em;
		}
	}
}
#breadcrumbs {
	font-size:1.2em;
	text-align:right;
}
.pagination {
	text-align:center;
	font-size:1.2em;
}
//Single product view
#product-images {
	border-right: $line;
}
#product-description div:nth-child(2){
	font-size:1.2em;
}
#product-thumbnails li {
	border-bottom:3px solid $mainColor;
}

