// Place general styles here
// You can use SCSS

//custom classes & variabls
$mainColor: rgb(60,60,60);
$line: 1px solid rgb(180,180,180);

.lineTop {border-top:$line;}
.lineBottom {border-bottom:$line;}

.textRight{
	text-align:right;
}
.textCenter {
	text-align:center;
}

// application template layout

.mainHead, #mainFoot {
	background-color:white;
	width: 100%;
	p, a, li, h1, h2, h3, h4{
		color: $mainColor;
	}
}
.mainHead {
	margin-top:-10px;
	padding-top: 10px;
	height:75px;
	box-shadow: 0px -4px 2px -2px $mainColor inset;
}
#logo{
	margin:0 0 20px -75px;
	h4 {
		position: relative;
		top: -25px;
		left:5px;
	}
	img, h4{display:inline-block;}
}
#mainNav {
	float: right;
	position:absolute;
	top:25px;
	right:-50px;
	ul li{
		&::before{
			content: '|';
			}
		&:first-child::before{content: '';}
	}
}
#mainNav, #footNav {
	ul li{
		padding-right:10px;
		&::before{padding-right:15px;}
	}
}
#wrapper {
	min-height:450px;
	margin-top:15px;
}
#mainFoot {
	box-shadow: 0px 4px 2px -2px $mainColor inset;
	min-height: 80px;
	a, p {font-size:.9em;}
}
#footContact {
	padding:10px 0;
	p {
		margin-bottom:0;
	}
	h1 {margin:0;line-height:50px;}
}
#footNav ul {
	padding:10px 0 7px;
	text-align: center;
	margin-bottom:7px;
}

table {
  tr.odd td{
    color: #191919
  }
}