#aboutPage.staticPage
	%h1 About Basic Black
	%p Welcome to Basic Black, purveyor of the elegant lifestyle. 
	%p We proudly carry the finest in high class chairs, couches, chaises, and more. Our Products have been featured in music videos, as well as hit television shows and movies. Basic Black: where Hollywood regency meets old-world charm.  
	%p At Basic Black, we are not merely a reseller of someone else's furniture. When you shop with us, you are gaining access to our full warehouse of one-of-a-kind designs. If you can't find what you are looking for, our highly skilled designers will gladly work with you to create the piece of your dreams. 
	%p All pieces are stocked in our showroom warehouse, easily accessible to the customer. Custom designs are available upon request. Stop by or give us a call today.  
