#contactPage	
	#contactCopy
		%h1 Contact Basic Black
		%p#cAddress 1140 S. La Brea Avenue <br/> Los Angeles, CA 90019
		%p#cHours Our showroom floor is open from 10am to 5pm, Monday through Saturday. 
		%p You can call us at:
		%p#cPhone (310) 985-1886
		%p Or, feel free to contact us using the form to the right, we will respond to any questions or concerns as soon as we can. 
	%form#contactForm
		%input.input1{placeholder:'Your Name'}
		%input.input1{placeholder:'Your Email'}
		%textarea{placeholder:'Send Us a Message'}
		%input#contactSubmit{type:'submit', value:'Submit'}