#homePage
	#homeContent.container
		.ten.columns.alpha
			#homeVid
				%iframe{:allowfullscreen => "", :frameborder => "0", :src => "http://www.youtube.com/embed/d6Jln_5ieno?rel=0&start=96&autoplay=0"}

		#homeCopy.six.columns.omega
			%h3 One of our chairs was recently featured in the music Video for Tyga's "For the Road" (featuring Chris Brown). Check it out to the left!
			%h4 In addition, our products have been featured in the hit TV shows "Dexter", "Dancing with the Stars", "True Blood", and "Revenge". Our designs have also been featured in the blockbuster movies "The Green Hornet", and "Where the Wild Things Are".
	#homeGrid{:"data-layout" => "2222"}
		%a{href:"#"}
			=image_tag('home_page/chair1.jpg')
		%a{href:"#"}
			=image_tag('home_page/chairs.jpg')
		%a{href:"#"}
			=image_tag('home_page/red_fancy.png')
		%a{href:"#"}
			=image_tag('home_page/legs.jpg')
		%a{href:"#"}
			=image_tag('home_page/fancy_pink.jpg')
		%a{href:"#"}
			=image_tag('home_page/red_throne.jpg')
		%a{href:"#"}
			=image_tag('home_page/tats.jpg')
		%a{href:"#"}
			=image_tag('home_page/white_fancy.jpg')

:javascript
	$('#homeGrid').photosetGrid({
		gutter: '5px',
	});