#policiesPage.staticPage
	%h1 Store Policies
	%h2 General
	%p All sales are final. 
	%p All items are sold as-is.
	%h2 Shipping
	%p SHIPPING IS ARRANGED THROUGH A THIRD PARTY FREIGHT COMPANY AS A COURTESY TO OUR CUSTOMERS AND TO MAKE YOUR SHOPPING EXPERIENCE AS PLEASANT AND SMOOTH AS POSSIBLE. 
	%p THE COST OF SHIPPING INCLUDES PACKAGING AND CUSTOM CRATING SERVICES.
	%p It is important for our customers to realize that most items we sell are extremely fragile and require extra care in packing and handling. Such items require boxes and wooden crates to be custom made only by packers with years of packing and crating experience. Such custom crates also need added protection and padding on the inside with top quality packing materials. Simply put, we do not want to compromise the quality of packing and for this reason; shipping and handling costs might be slightly higher than sellers selling similar items. We feel it is important for our customers to realize that professional packing is not cheap and we do not want to take any chances with your hard earned dollars.
	%p UPON RECEIPT, YOU MUST CHECK YOUR ITEM FOR DAMAGE IN THE PRESENCE OF THE DRIVER BEFORE SIGNING THE FREIGHT BILL. IF THERE IS DAMAGE PRESENT IT MUST BE NOTED ON THE FREIGHT BILL, OR A CLAIM CAN NOT BE FILED FOR REIMBURSEMENT THROUGH THE SHIPPING COMPANY. All claims must be filed with the freight company.