#rentalPage.staticPage
	%h1 Basic Black Rentals
	%h2 Rental Policies, Terms, & Conditions
	%p Any items to be rented are to be picked up on the specified date from our premises at 1140 S. La Brea Blvd. Los Angeles, CA 90019. The rental will require:<br/><br/> (1) Two credit card authorizations one for the rental amount, and another for the full retail value of the rented items.<br/>(2) A copy of the renter’s drivers license and credit card (front and back) and your company’s rental insurance.<br/><br/> The item(s) must be returned by the end of the 7th rental day before 4pm or all items will be considered as Final Sale in the full purchase amount. This rental agreement is final, and cannot be canceled in the event that the production does not go through.
	%p Rental prices include sales tax.
	%p Submit the credit card authorization form (found below) by email to <a href="mailto:kingchairguy@gmail.com">kingchairguy@gmail.com</a>
	%h2 Credit Card Authorization Form
	%a{href: 'public/images/legs.jpg'}
		Download Here